.main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbar {
  position: relative;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .searchbar {
    width: 100%;
  }
}
